.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.logWrapper {
    margin: 0 30px;
    border: 1px;
}

.logLabel {
    margin: 5px;
}

.logSpace {
    padding: 5px;
}

.error {
    color: red;
}